.left-contents
  .user
    %p.user__name name
    .user__icon
      .user__icon__mark
        = link_to new_group_path do
          %i.fa.fa-edit
      .user__icon__mark
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
  - @groups.each do |group|
    .group
      %p.group__name group.name
      %p.group__info よろしくお願いします
.right-contents
  .main-group
    %h3.main-group__name sampleグループ
    %h3.main-group__member Members: ryousuke maehira
    = link_to root_path do
      .main-group__edit Edit
  .chatspace
    .chatspace-content
      .chatspace-content__member ryousukemaehira
      .chatspace-content__post-time 2016/10/02 06:27:07
      .chatspace-content__chat なるほど
    .chatspace-content
      .chatspace-content__member ryousukemaehira
      .chatspace-content__post-time 2016/10/02 06:27:07
      .chatspace-content__chat なるほど
    %footer.form-box
      = form_for "" do |f|
        = f.text_field "", class: "form-box__text-field", placeholder: "Type a text"
        %label.form-box__picture-set
          = f.file_field "", class: "form-box__picture-set__field"
          %i.fa.fa-file-picture-o.fa-fw
        = f.submit value: "Send", class: "form-box__button"
